.movie-list {
  justify-content: center;
}

.movie-list > span {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 36px;
}
