@font-face {
  font-family: 'Inter UI';
  src:
    local('Inter UI'),
    url(../../fonts/Inter-UI-Regular.otf) format('opentype');
}

* {
  font-family: 'Inter UI', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
  max-width: 1010px;
  background: #fff;
  padding: 20px 36px 36px;
}
